# Configuração Nixpacks para Railway
# Força uso de PHP 8.2 ao invés de 8.1

[phases.setup]
nixPkgs = ["php82", "nginx", "libmysqlclient", "php82Packages.composer", "nodejs_18", "npm-9_x"]

[phases.install]
cmds = [
  "mkdir -p /var/log/nginx && mkdir -p /var/cache/nginx",
  "rm -rf bootstrap/cache/*.php",
  "composer install --ignore-platform-reqs --no-dev"
]

[phases.build]
cmds = [
  "rm -rf bootstrap/cache/*.php",
  "composer install --no-dev --optimize-autoloader --no-scripts",
  "php artisan package:discover --ansi",
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache"
]

[start]
cmd = "chmod +x start.sh && ./start.sh"
